.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(93, 6, 6);
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.stockslist {
  color: blue;
}
.results {
  float: left;
  width: 300px;
  height: 350px;
  text-align: center;
  background-color: #f6f6f6;
  margin: 10px 20px;
  padding: 20px 10px;
}
.results img {
  width: 150px;
}
